@import url(https://use.fontawesome.com/releases/v5.12.0/css/all.css);

#container{
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 2%;
}

/*main-info block*/
#main-info{
  grid-column-start: 2;
  grid-column-end: 3;

  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 2%;
}

#kvant-logo{
  justify-self: end;
  max-height: 75%;
  max-width: 75%;
}

/*courses block*/
#courses{
  grid-column-start: 2;
  grid-column-end: 3;

  grid-row-start: 2;
  grid-row-end: 3;

  display: grid;
  grid-template-rows: repeat(5, auto);
  grid-template-columns: repeat(3,32%);
  grid-column-gap: 3%;
}

#courses-header{
  justify-self: center;
  grid-column-start: 1;
  grid-column-end: 4;
}

.course{
  display: grid;
  grid-template-rows: 54% 5% 5% 5% 50%;
}

.course-logo{
  max-width: 100%;
  height: auto;
}

/*----*/

/* Затемнение */
.blackout{
  background: #000;
  width: 100%;
  height: 93%;
  overflow: hidden;
}

.blackout img{
  opacity: 1;
  transition: .3s ease-in-out;
}

.blackout img:hover{
  opacity: 0.6;
}
/*----*/

/* Направление текст*/
.course_description_level .course-direction{
  color: #6c757d;
  font-family: FreeSetC,sans-serif;
}
/*----*/

/* Уровень текст */
.course_description_level .course-level{
  color: #6c757d;
  font-family: FreeSetC,sans-serif;
}
/*----*/

/* отступы: направления, уровень, описания  */
.course{
  line-height: 150%;
  margin-top: 5%;
}
/*----*/
.course_description_level button{
  width: 150px;
  height: 50px;
  margin-left: 25%;
  background: #000;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50px;
  transition: 0.5s;
}

.course_description_level button:hover{
  background: #fff;
  color: #000;
  border: 2px solid #000;
  transform: scale(1.1);
}
.course_description_level{
  margin-top: -4%;
}

.course-level{
  margin-top: -3%;
}
