<!-- This is the main html template to load all pages about each kvant -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/kvants/base.css' %}">
</head>
<body>
    <div id="container">
        <div id="courses">
            <h1 id="courses-header">Наши курсы</h1>
                {% for course in courses_list %}
                    <div class="course">
                        <a href="{{ course.link }}" class="blackout">
                            <img src="{{ course.preview }}" alt="course-logo" class="course-logo">
                        </a>
                        <strong><p class="course-name">{{ course.name }}</p></strong>
                        <strong><p class="course-creds">Направление: {{  course.direction }}</p></strong>
                        <strong><p class="course-creds">Уровень: {{ course.level }}</p></strong>
                        <p class="course-description">{{ course.description }}</p>
                    </div>
                {% endfor %}
        </div>
            <a class="button-back" href="http://127.0.0.1:8000/">
                <button class="come-back">
                    Вернуться назад
                </button>
            </a>
    </div>
</body>
</html>

