<!-- This is the main html template to load all pages about each kvant -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/kvants/base.css' %}">
</head>
<body>
    <div id="container">
        <div id="main-info">
            <img src="{{ kvant.preview }}" alt="" id="kvant-logo">
            <div>
                <h2 style="margin: 0;">{{ kvant.name }}</h2>
                {{ kvant.description | safe }}
            </div>

        </div>
        <div id="courses">
            <h1 id="courses-header">Наши курсы</h1>
                {% for course in courses_list %}
                    <div class="course">
                        <div class="blackout">
                            <a href="{{ course.link }}">
                                <img src="{{ course.preview }}" alt="course-logo" class="course-logo">
                            </a>
                        </div>
                        <div class="course_description_level">
                            <strong><p class="course-direction">Направление: {{  course.direction }}</p></strong>
                            <strong><p class="course-level">Уровень: {{ course.level }}</p></strong>
                            <p class="course-description">{{ course.description }}</p>
                            <div class="button_mid">
                                <button>Записаться</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
        </div>
    </div>
</body>
</html>
